@import "./styles/dashboard.css";
@import "./styles/tasks.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

:root {
  --BG-COLOR: #011627;
  --FG-COLOR: #f5f5f5;
  --RED-CONTRAST-COLOR: #ff5964;
  --GRAY-CONTRAST-COLOR: #9a9898;
}

.nowrap {
  white-space: nowrap;
}
