* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-inline: 0.5rem;
}

.search__input {
  display: none;
}
