.board {
  display: grid;
  grid-template-columns: repeat(4, minmax(17rem, 18.75rem));
  gap: 1.25rem;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

.board::-webkit-scrollbar {
  display: none;
}

.board-column {
  border: var(--BORDER);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: center;
  height: fit-content;
  max-height: calc(100vh - 11.3rem);
  width: 100%;
}

.board-column__title {
  border-bottom: var(--BORDER);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.board-column__title--open {
  color: #ff5964;
}

.board-column__title--in-progress {
  color: #e3b505;
}

.board-column__title--done {
  color: #7bc950;
}

.board-column__tasks {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.board-column__tasks::-webkit-scrollbar {
  display: none;
}

.board-column__add-task-button {
  border: none;
  border-top: var(--BORDER);
  background: none;
  color: var(--FG-COLOR);
  font-size: var(--TEXT-MD);
  font-weight: var(--FW-REGULAR);
  line-height: var(--LH-NORMAL);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.board-column__add-task-button:hover {
  cursor: pointer;
}

.board-task {
  border: var(--BORDER);
  border-radius: 15px;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  display: flex;
  flex-direction: column;
  min-height: 5rem;
}

.board-task__priority {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--TEXT-SM);
  font-weight: var(--FW-REGULAR);
  line-height: var(--LH-NORMAL);
}

.board-task__name {
  flex: 1;
  font-size: var(--TEXT-MD);
  font-weight: var(--FW-REGULAR);
  line-height: var(--LH-NORMAL);
}

.board-task__due {
  flex: 1;
  display: flex;
  gap: 0.15rem;
  font-size: var(--TEXT-XS);
  font-weight: var(--FW-REGULAR);
  line-height: var(--LH-NORMAL);
}

.add-list-button {
  border: var(--BORDER);
  border-radius: 15px;
  height: 3rem;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  background: none;
  color: var(--FG-COLOR);
  font-size: var(--TEXT-SIZE);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-list-button:hover {
  cursor: pointer;
}
