@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");

.info-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.info-card__data {
  font-size: 1.25rem;
  color: var(--RED-CONTRAST-COLOR);
}

.info-card__change {
  opacity: 0.85;
}

.task-completion {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.task-completion__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-completion__graph {
  padding: 1rem;
  max-width: 100%;
  flex: 1;
  position: relative;
}

.task-completion__stats {
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.task-completion-stat {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.task-completion-stat__title {
  font-size: 1.25rem;
  font-weight: 500;
}

.task-completion-stat__data {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--RED-CONTRAST-COLOR);
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.activity__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activity-card {
  border-bottom: 1px solid var(--FG-COLOR);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.75rem;
}

.activity-card:last-child {
  border-bottom: none;
}

.activity-card__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.activity-card__icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--FG-COLOR);
  border-radius: 50%;
}

.activity-card__activity {
  font-size: 1.25rem;
  color: var(--RED-CONTRAST-COLOR);
}

.activity-card__position {
  color: var(--GRAY-COLOR);
}

.activity-card__time {
  opacity: 0.85;
}

@media screen and (min-width: 426px) {
  .info-cards {
    flex-direction: row;
  }
}

@media screen and (min-width: 769px) {
  .task-completion__data {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .task-completion__graph {
    max-width: 50%;
  }
}
