.filter-button {
  background: none;
}

.filter-button:hover {
  cursor: pointer;
}

.filter-button__text {
  display: none;
}

.new-task-button {
  background: none;
}

.new-task-button:hover {
  cursor: pointer;
}

.new-task-button__text {
  display: none;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.5rem;
  justify-items: center;
  justify-content: center;
}

.task {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--FG-COLOR);
  border-radius: 15px;
  width: 18.75rem;
}

.task__name {
  border-bottom: 1px solid var(--FG-COLOR);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}

.task__status--open {
  color: #ff5964;
}

.task__status--in-progress {
  color: #e3b505;
}

.task__status--done {
  color: #7bc950;
}

.task__time-left {
  font-style: italic;
}

.task-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.1rem;
  border-bottom: 1px solid var(--FG-COLOR);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  justify-content: center;
  align-content: center;
}

.task-row:last-child {
  border-bottom: none;
}

.task-row__name {
  color: var(--LIGHT-GRAY-COLOR);
  font-weight: 400;
}

.task-row__data {
  font-weight: 600;
}

.footer {
  padding-bottom: 1.5rem;
  padding-inline: 0.5rem;
  grid-area: footer;
  justify-self: center;
  max-width: 82rem;
  width: 100%;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.paginator__button {
  border-radius: 15px;
  border: 1px solid var(--FG-COLOR);
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--FG-COLOR);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.paginator__button--active {
  color: var(--RED-CONTRAST-COLOR);
}

@media screen and (min-width: 426px) {
  .search__input {
    max-width: 7rem;
  }
}

@media screen and (min-width: 592px) {
  .filter-button__text {
    display: block;
  }

  .new-task-button__text {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .tasks {
    justify-content: flex-start;
    justify-items: flex-start;
  }
}
